{% extends "::base.html.twig" %}

{% block content %}
    <div class="page-header">
        <h1>2-legged</h1>
    </div>

    <h3>Contributions</h3>
    <ul>
        <li><a href="{{ path('wellnet_test_contributions_get_themes', {'method': 'getThemes'}) }}">getThemes</a></li>
        <li><a href="{{ path('wellnet_test_contributions_grant_points', {'nid': 23680, 'method': 'grantPoints'}) }}">grantPoints</a>
        </li>
        <li><a href="{{ path('wellnet_test_contributions_remove_points', {'nid': 23680, 'method': 'removePoints'}) }}">removePoints</a>
        </li>
        <li><a href="{{ path('wellnet_test_contributions_list_medias', {'method': 'listMedias'}) }}">listMedias</a></li>
        <li>
            <a href="{{ path('wellnet_test_contributions_get_media', {'nid': 23621, 'method': 'getMedia'}) }}">getMedia</a>
        </li>
        <li><a href="{{ path('wellnet_test_contributions_get_media_file', {'fid': 226, 'method': 'getMediaFile'}) }}">getMediaFile</a>
        </li>
        <li><a href="{{ path('wellnet_test_contributions_get_related', {'nid': 23680, 'method': 'getRelated'}) }}">getRelated</a>
        </li>
        <li><a href="{{ path('wellnet_test_contributions_publish', {'nid': 23680, 'method': 'publish'}) }}">publish</a>
        </li>
    </ul>

{% endblock %}
